Source: ros-indigo-scan-to-cloud-converter
Section: misc
Priority: extra
Maintainer: Ivan Dryanovski <ccnyroboticslab@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-1.7-all-dev, ros-indigo-catkin, ros-indigo-pcl-conversions, ros-indigo-pcl-ros, ros-indigo-roscpp
Homepage: http://wiki.ros.org/laser_scan_matcher
Standards-Version: 3.9.2

Package: ros-indigo-scan-to-cloud-converter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-1.7-all, ros-indigo-pcl-conversions, ros-indigo-pcl-ros, ros-indigo-roscpp
Description: Converts LaserScan to PointCloud messages.
